// container size
$min-width:320px;
$max-width:1024px;

// colors
$base-color: #333;
$base-bg: #fff;

// fonts
$font-default: 'Roboto', sans-serif;
$font-primary: Verdana, Geneva, sans-serif;

// custom grid
$table-screen: 1023px;
$mobile-screen: 767px;

// change font-size for changing ALL fonts size
$base-font-size: 10px;
$base-line-height: 10px;
